/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* end reset */

/* TEXT */
:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  /* line-height: 1.5em; */
  --color-primary: rgb(255, 186, 82);
  --color-secondary: rgb(255, 66, 139);
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.4rem;
}

body,
p,
h1,
h2,
h3,
input,
button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1em;
  color: var(--color-primary);
  border-radius: 0;
  opacity: 100;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

a,
a:active,
a:hover {
  color: var(--color-primary);
  text-decoration: none;
  margin-bottom: .2rem;
  border-bottom: 1px solid var(--color-primary);
}

/* END TEXT */

hr {
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  border: none;
  margin: 0;
  padding: 0;
}

button {
  font-size: var(--h3-font-size);
  font-weight: bold;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border: none;
  padding: .3rem;
  margin: 0;
}

/* INPUTS */
input {
  padding: 0;
  margin: 0;
  border: 2px solid transparent;
  border: none;
  color: var(--color-primary);
}

input[type='number'] {
  -moz-appearance: textfield;
}

.editable {
  border: 2px solid var(--color-primary);
  padding-right: .5rem;
  padding-left: .5rem;
}

textarea:focus,
input:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* END INPUTS */